footer 
	{
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-size: medium;
	color: #274B16;
	text-align: center;
	}
hr {
	color: #624C05;
}
#education {
	border-radius: 10px;
	background-color: #DDC3A3;
	padding: 12px;
}
h2 {
	font-family: "Courier New", Courier, monospace;
	font-size: xx-large;
	color: #2C1F09;
	text-align: center;
	font-weight: 700;
}
h4 {
	font-family: Consolas;
	font-size: x-large;
	color: #422100;
}
img {
	border-radius: 7px;
}
li {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-size: medium;
}
